MT-env/*
annotations/*
!annotations/label_map.pbtxt
dataset/*
models/*
pretrained_models/*
__pycache__/*
trained_models/*
scripts/dys_generated_dataset/*
scripts/dys_generated_xml_files/*
scripts/example_json_files/*
scripts/generated_dataset/*
scripts/generated_xml_files/*
scripts/healthy_generated_dataset/*
scripts/healthy_generated_xml_files/*
results/*
!results/predictions.txt
scripts/norm.png
scripts/opening.png
scripts/result.png
scripts/thresh.png
scripts/atopic_generated_dataset/*
scripts/atopic_generated_xml_files/*
scripts/nist_dataset/*
scripts/nist_dataset_xml_files/*
scripts/atopic_generated_dataset_bounding_boxes/*
scripts/atopic_real_new_annotations/*
scripts/sfinge_partial_original/*
scripts/sfinge_partial_resized/*
experiments/.~lock.training_unchanged_pipeline.ods#
experiments/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.csv
!dataset/train_preprocessed_split.txt
!dataset/val_preprocessed_split.txt
!dataset/test_preprocessed_split.txt
