MT-env/*
annotations/*
dataset/*
GenerateTFRecord/*
models/*
pretrained_models/*
__pycache__/*
trained_models/*
scripts/dys_generated_dataset/*
scripts/dys_generated_xml_files/*
scripts/example_json_files/*
scripts/generated_dataset/*
scripts/generated_xml_files/*
scripts/healthy_generated_dataset/*
scripts/healthy_generated_xml_files/*
results/*
!results/predictions.txt
scripts/norm.png
scripts/opening.png
scripts/result.png
scripts/thresh.png
